/* header style */


nav{
    display: flex;
justify-content: space-between;

}
.logo{
color: #4E47FF;
font-size: 34px;
font-weight: 1000;

}

    
.btn{
    background-color: #4E47FF;
    color: white;
padding: 18px 35px;
border: none;
border-radius: 10px;
text-align: right;

}
    
.button:hover{


}
/* banner */
.banner-content{
  
font-size: 40px;
border: none;

text-align: center;
}

/* header */
.banner{
background-image: url('./Assets/Hero-bg.png');
text-align: center;
padding: 50px;

}
/* action section */
.imagine{

border-radius: 40px;

}

.action-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
   padding: 100px;
    

}

.title{

text-align: left;

}
.title-2{

font-size: 42px;
font-weight: bold;
color: #252432;
}
.sub-title{
font-size: 24px;
    max-width: 500px;
    color: #252432;
    font-weight: bold;
    opacity: 50%;
}
/* third section */
.section-title{

font-weight: bold;
font-size: 38px;

}
.item-title{

    font-weight: bold;
font-size: 80px;
color: #4E47FF;
}

.item-description{

font-weight: bold;
    opacity: 50%;
}
